<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Set InvoiceFilePath to an absolute path to store invoices, or leave empty to use application folder -->
    <!-- Default configured path for this assignment: invoices will be stored in the Week08 folder -->
    <add key="InvoiceFilePath" value="D:\\SCHOOL\\SCHOOL\\GitHubFolder\\CSC-240 Visual Programming\\Git\\CSC240\\Visual Programming\\Week08\\invoices.txt" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>